body
{
    margin-top: 0;
    display: grid;
    grid-template-rows: auto;
}

header 
{
    background-color: rgb(27, 84, 221);
    color: white;
    text-align: center;
    grid-column: 1 / -1;
}

h1 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    line-height: 1;
}

p
{
    font-size: 25px;
}

 main
{
    display: grid;
    grid-template-rows: auto;
    row-gap: 2%;
}

.ContactsWisp
{
    display: grid;
    grid-template-columns: 1fr 1060px 1fr;
    background-color: rgb(27, 84, 221);
    color: white;
    text-align: center;
    padding-bottom: 3%;
}

.contact
{
    grid-column: 2 / 3;
}

.ContactsWisp h2
{
    font-size: 60px;
}

.ContactsWisp h3
{
    font-size: 40px;
}

.inf
{
    display: flex;
    flex-direction: column;
}

button
{
    border: none;
    font-size: 25px;
    width: 200px;
    height: 50px;
}

.but1
{
    background-color: white;
}

.grid-container
{
    display: grid;
    grid-template-columns: 1fr 1060px 1fr;
}

.Wisps
{

    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.grid-item img
{
    float:left;
}

.text
{
    
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 5%;
    margin-left: 50%;

}

.text h2
{
    font-size: 40px;
    margin: 0;
}

.text a
{
    font-size: 25px;
    color: rgb(27, 84, 221);
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.but2
{
    
    background-color: rgb(27, 84, 221);
    color:white;
}

.but2_center
{
    display: flex;
    justify-content: center;
}

footer
{
    padding-top: 2%;
    background-color: rgb(232, 232, 232);
    color: black;
    text-align: center;
}

@media (max-width: 1285px)
{
    .ContactsWisp
    {
        grid-template-columns: 1fr 870px 1fr;
    }
    .grid-container
    {
        grid-template-columns: 1fr 870px 1fr;
    }
    .text
    {
        width: 30%;
        margin-top: 5%;
        margin-left: 60%;
    }
}
@media (max-width: 1060px)
{
    .ContactsWisp{
        grid-template-columns: 1fr 696px 1fr;
    }
    .grid-container{
        grid-template-columns: 1fr 696px 1fr;
    }
    .text{
        width: 27%;
        margin-top: 5%;
        margin-left: 73%;
    }
}
@media(max-width: 800px)
{
    .ContactsWisp{
        grid-template-columns: 1fr 580px 1fr;
    }
    .grid-container{
        grid-template-columns: 1fr 580px 1fr;
    }
    .grid-item img{
        float: none;
    }
    .grid-item{
        display: flex;
        flex-direction: column;
    }
    .text{
        width: 100%;
        margin-top: none;
        margin-left: 5%;
    }
    p{
        font-size: 30px;
    }
}
@media(max-width: 680px){
    .ContactsWisp{
        grid-template-columns: 1fr 387px 1fr;
    }
    .grid-container{
        grid-template-columns: 1fr 387px 1fr;
    }
    
}

@media(max-width: 480px){
    .ContactsWisp{
        grid-template-columns: 1fr 290px 1fr;
    }
    .grid-container{
        grid-template-columns: 1fr 290px 1fr;
    }
}